[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-{{ env }}.kommanuthala.store:8080
Environment=DB_HOST=mysql-{{ env }}.kommanuthala.store
ExecStart={{ service_start_command }}
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
